@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto-bold';
  src: url(/fonts/roboto-bold.woff) format("woff"),
  url(/fonts/roboto-bold.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-regular';
  src: url(/fonts/roboto-regular.woff) format("woff"),
  url(/fonts/roboto-regular.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-medium';
  src: url(/fonts/roboto-medium.woff) format("woff"),
  url(/fonts/roboto-medium.woff2) format("woff2");
  font-display: swap;
}

:root{
  --primary: 255 255 255;
  --secondary: 242 242 242;
  --accent: 80 221 144;
  --content: 0 0 0;
  --line: 212 212 212;
  --alert: 220 38 38;
  --disable: 127 127 127;
  --info: 68 130 208;
  --warning: 177 130 47;
}

.dark{
  --primary: 0 0 0;
  --secondary: 22 22 22;
  --accent: 80 221 144;
  --content: 255 255 255;
  --line: 14 14 14;
  --alert: 220 38 38;
  --disable: 127 127 127;
  --info: 68 130 208;
  --warning: 177 130 47;
}

@layer base {
  body {
    @apply
    bg-primary
    text-content
    font-regular;
  }

  a{
    @apply
    text-content
  }

  ul {
    @apply
    list-none
    text-content
  }

  img{
    @apply
    block
    w-full
    h-auto
  }

  h1,h2,h3,h4,h5,h6 {
    @apply
    font-bold
    text-content
    font-thicker
  }

  h1{
    @apply
    text-3xl
    mb-4
  }
  h2{
    @apply
    text-xl
    mb-4
  }
  h3{
    @apply
    text-lg
    mb-2
  }
  h4{
    @apply
    text-base
    mb-4
  }

  p{
    @apply
    mb-2
    !leading-5
    opacity-60
  }
  
  table{
    @apply
    w-full
    text-sm
  }
  
  table th{
    @apply
    font-bold
    py-4
    px-2
    text-left
  }

  table td{
    @apply
    p-2
    text-left
  }

  table tbody tr:nth-child(odd){
    @apply
    bg-secondary
    bg-opacity-20
  }

  .table-action ul{
    @apply
    flex
    gap-4
  }

  .form-action{
    @apply
    flex
    gap-4
    justify-end
  }

  .tooltip{
    @apply
    text-base
    relative
  }

  .tooltip:hover::after{
    @apply
    scale-100
  }

  .tooltip::after{
    @apply
    absolute
    content-[attr(data-tooltip)]
    text-xs
    p-0.5
    px-1.5
    text-content
    bg-primary 
    bg-opacity-90
    top-[calc(100%+10px)]
    left-1/2
    -translate-x-1/2
    scale-0
    transition-transform
  }


}

@layer components {
  .nav{
    @apply
    space-y-4 
    mt-20
  }

  .nav-link{
    @apply
    p-2
    pl-8
  }

  .nav-link a{
    @apply
    flex gap-3
    items-center
  }

  .nav-link.active{
    @apply
    border-l
    border-accent
  }

  .nav-link.active a{
    @apply
    text-accent
  }

  .tab-link{
    @apply
    px-3
    py-5
  }

  .tab-link.active{
    @apply
    border-b border-accent
  }

  .tab-link.active a{
    @apply
    text-accent
  }

  /* btn New */
  .btn{
    @apply
    px-2
    py-1
    rounded-md
    text-sm
    transition-colors
    flex
    items-center
    gap-2
  }
  .btn:disabled{
    @apply
    cursor-not-allowed
    opacity-60
  }

  .btn-form{
    @apply
    p-2 w-1/2 flex justify-center items-center gap-2
  }

  .btn--accent{
    @apply
    bg-accent
    text-white
  }

  .btn--cancel{
    @apply
    bg-disable
    text-stone-800
  }

  .btn--alert{
    @apply
    bg-alert
    text-white
  }

  .btn--info{
    @apply
    bg-info
    text-white
  }

  .btn--warning{
    @apply
    bg-warning
    text-white
  }


  /* Modal add new student *Modal */
  .input-wrap{
    @apply mb-3 relative
  }

  .input-wrap label{
    @apply
    mb-1
    block
  }

  .input-wrap input, 
  .input-wrap select, 
  .input-wrap textarea {
    @apply
    block
    w-full
    text-stone-800
    focus:text-info
    px-1
    py-3
    rounded-md
    outline-none
    border-2
    focus:border-info
    focus:bg-info/5
  } 

  .input-wrap small{
    @apply
    absolute
    top-1
    right-1
    text-red-600
    italic
  }

  /* SOmething loader */
  .loading-bar::after {
    @apply content-[''] absolute top-0 left-0 w-[180%] h-full  bg-gradient-to-r from-transparent via-black/40 to-transparent  animate-loading;
  }

}

/* scrollbar of overflow */
::-webkit-scrollbar {
  width: 5px;
  }
  
  ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(16, 16, 16); 
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  background:rgba(54, 54, 54, 0.864); 
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background:rgb(5, 103, 201); 
  }

  /* remopve of arrows in age number input */
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* SPINNER */
.spinner circle {
  fill: none;
  /* stroke: var(--light); */
  stroke-width: 6;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -110px;
  }
}